body {
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    font-family: Arial, Helvetica, sans-serif; 
    
}
header {
    display: flex;
    flex-direction: column;

}

h1 {
    font-size: 40px;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
}
content {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #fff;
    height: 100px;
    
}
.game {
    width: 320px;
    height: 320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

.box {
    width: 100px;
    height: 100px;
    background-color: #d1aff1;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    font-size: 100px;
}
.box:hover {
    background-color: #f0eeee;
}

#b0, #b1, #b2, #b3, #b4, #b5 {
    border-bottom: 10px solid #000;
}

#b2, #b5, #b8, #b1, #b4, #b7 {
    border-left: 10px solid #000;
}

.score {
    width: 320px;
    height: 320px;
    background-color: #96e9cd;
    margin-left: -100px;

}